<section>

  <div class="row">

    <div class="col-md-9">
      <app-home></app-home>
    </div>

    <div class="col-md-3">

      <div class="card">

        <div class="card-header">
          <img src="/assets/images/image.png" class="logo">
          <button class="close-btn" routerLink=""><img src="assets/svg/close-icon-blue.svg"></button>
        </div>

      </div >
        <div class="text-center confirm ">
          <img src="/assets/svg/reveived-icon.svg" >
          <pre>  Thanks for the  
Confirmation we have sent Payment link to 
{{a}}
          </pre>
          <button class="btn btn-outline-primary">Resend Invoice</button>
        </div>
    </div>
    

  </div>
</section>